#about{
    text-align: justify;
    text-justify: inter-word;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 5%;
    ;
}

#about h2{ 
    text-align: center;
}