
.info{ 
    display: flexbox;
    padding-top: 5%;
}

.info h1{ 
    text-align: center;
    font-size:xx-large;
    color: rgba(0, 255, 255, 0.61);
    padding-bottom: 2%;
}

.info{
    text-align: center;
    font-size: medium;
    
}

.info h2{ 
    font-size: medium;
}

#faq{ 
    text-align: center;
    padding-top: 5%;
}

#faq h1{ 
    color: rgba(255, 0, 0, 0.329);
    font-size: xx-large;
    padding-bottom: 5%;

}

.answers{
    display: flexbox;
    padding: 5%;
    flex-direction: column;
    text-align: justify; 
} 

.answers p{
    text-align: justify;
    padding-top: 2%;
    padding: 5%;
}

.answers h1{ 
    text-align: justify;
    padding-top: 2%;
    padding: 5%;
}

