
*{
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
}

body{ 
    width: 100%;
    padding: 20px;
    color: #ffffff;
}
.prod-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    color: #ffffff;
    overflow: auto;
    padding-top: 5%;
    padding: 2%;
}

.product { 
    box-shadow: 0px 10px 10px #92e69a52;
    border-radius: 30px; 
    border-top-right-radius: 30px;
}

.product img { 
    width: 100%;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
} 

.prod-description {
    text-align: center;

}
