
*{
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
}
.product{ 
    box-shadow: 10px 10px 10px #000000;
    border-radius: 30px; 
    border-top-right-radius: 30px;
}
body{ 
    width: 100%;
    padding: 20px;
}
.prod-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    color: #fff;
    overflow: auto;
    padding-top: 5%;
}

.product { 
    box-shadow: 10px 10px 10px #000000;
    border-radius: 30px; 
    border-top-right-radius: 30px;
}

.product img { 
    width: 100%;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
} 

.prod-description {
    text-align: center;
}
